header {
	background-color: hsl(217 30% 20%);
	color: #fff;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: min(90%, 1000px);
	margin: 0 auto;
	padding: 2em 0;
}

.nav > * {
	margin: 0;
}
