.nav__list {
	display: flex;
	gap: 2em;
	opacity: 0;
	transform: translateY(-50%);
	transition: transform 200ms ease-out, opacity 100ms ease;
}

.face-down {
	transform: translate(0%, 0%);
	opacity: 1;
}
.cursor {
	cursor: pointer;
}
